@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    margin: 0;
    scroll-behavior: smooth;
}

:root {
    --backgrandblack:#252525;
    --gradianOrange:#ff7800;
    --backgrandOrange:#ffae00;
    --black:#000;
    --white:#fff;
    --fontRO:'roboto';
    --fontSH:'shrikhand';
    --fontInter:'inter';
}

.container1440 {
    max-width: 1440px;
}

h1 {
    font-family: var(--fontSH);
    font-size: 30px;
    font-weight: 400;
    line-height: 43.75px;
    color: var(--black);
    padding: 10px ;
}

h2 {
    font-family: var(--fontRO);
    font-size: 24px;
    font-weight: 700;
    line-height: 28.13px;
    color: var(--black);
}

h3 {
    font-family: var(--fontRO);
    font-size: 18px;
    font-weight: 700;
    line-height: 21.09px;
}

p {
    font-family: var(--fontRO);
    font-size: 15px;
    font-weight: 300;
    line-height: 17.58px;
    color: var(--black);
}

ul {
    list-style: none;
    padding-left: 0px;
}

a {
    text-decoration: none;
    color: var(--black);

    
}

input[type="button"]{
    font-family: var(--fontRO);
    font-size: 15px;
    font-weight: 500;
    border-radius: 30px;
    padding: 10px 15px;
    background: linear-gradient(198.58deg, var(--gradianOrange) 15.56%, var(--backgrandOrange) 100%);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    border: 1px solid 198.58deg, var(--gradianOrange) 15.56%, var(--backgrandOrange) 100%;

    &:hover {
        transform: scale(1.04);
    }
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

header, .section_1, .section_2, .section_3, .section_4, footer {
    animation: slideInFromBottom 1s ease-out forwards;
    opacity: 0;
}

header {
    animation-delay: 0.1ms;
}

.section_1 {
    animation-delay: 0.2ms;
}

.section_2 {
    animation-delay: 0.3ms;
}

.section_3 {
    animation-delay: 0.4ms;
}

.section_4 {
    animation-delay: 0.5ms;
}

/* header */

header {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 10px;
    text-align: center; 
}

header > a > h1 {
    margin: auto; 
}

header > nav > #bg_menu {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 30px;
    right: 20px;
}

.fa-arrow-left {
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    top: 30px;
    left: 20px;
}

header nav a:hover {
    color: var(--gradianOrange);
}

header ul {
    display: none;
}

/* footer */

footer {
    background-color: var(--backgrandblack);
}

footer div {
    padding: 15px;
    
    
}

footer h2 {
    color: var(--white);
    font-family: var(--fontSH);
    font-weight: 400;
    font-size: 29px;
    line-height: 34.99px;
    padding-bottom: 20px;
}

footer ul {
    display: grid;
    gap: 10px;
}

footer a {
    color: var(--white);
    font-family: var(--fontRO);
    font-weight: 200;
    font-size: 15px;
    line-height:23.58px;

    &:hover {
        color: var(--gradianOrange);
    }
}

/* main */
/* section_1*/

.section_1{
    padding-bottom: 20px;
    border-bottom: 1px solid var(--gradianOrange);
}

.section_1 img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.section_1 h2 {
    text-align: center;
    padding: 15px 0;
}

.pad {
    padding: 0 10px;
}

.flx {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 0 0;
    border-top: 1px solid var(--gradianOrange);
}

.toggle-btn {
    width: 19px;
    height: 19px;
    cursor: pointer;
    background-image: url('/img/thumbs-up-regular.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

input[type="checkbox"] {
    display: none;
}

#toggle1:checked + .toggle-btn {
    background-image: url('/img/thumbs-up-solid.svg');
}

#toggle2:checked + .toggle-btn {
    background-image: url('/img/thumbs-up-solid.svg');
}

#toggle3:checked + .toggle-btn {
    background-image: url('/img/thumbs-up-solid.svg');
}

#toggle4:checked + .toggle-btn {
    background-image: url('/img/thumbs-up-solid.svg');
}


/* section_2 */

.section_2 {
    padding: 30px 0;
    border-bottom: 1px solid var(--gradianOrange);
}

.section_2 div {
    padding: 0 10px;
}

.section_2 h2 {
    padding-bottom: 20px;
}

/* section_3 */

.section_3 {
    padding: 30px 15px;
    border-bottom: 1px solid var(--gradianOrange);
}

.section_3 h2 {
    padding-bottom: 20px;
}

.section_3 iframe {
    width: 100%;
    height: 280px;
}

/* section_4 */

.section_4 {
    padding: 30px 15px;
    
}

.section_4 h2{
    padding-bottom: 20px;
}

.section_4 > div:nth-child(2){
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.phone i, .mail i {
    font-weight: 700;
    color: var(--backgrandOrange);
    padding-right: 5px;
}

.section_4 h3{
    font-size: 18px;
    padding-top: 20px;
}

.Icon{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    padding: 25px 0;
}

.Icon a:hover {
    color: var(--gradianOrange);
}

.form{
    text-align: center;
}

.form input[type="button"] {
    padding: 10px 40px;
    margin: 20px 0 0;
}

.checkuser input, .form textarea{
    border: 1px solid var(--gradianOrange);
    outline: none;
    padding: 9px;
    font-family: var(--fontInter);
    color: var(--black);
}

.checkuser {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.check_user {
    display: flex;
    flex-direction: row;
    font-family: var(--fontInter);
    font-size: 14px;
    font-weight: 400;
    color: var(--black);
    margin: 15px 0;
    gap: 5px;
}

#checkbox {
    display: inline;  
}

#checkbox:not(:checked) + input[type="button"] {
    pointer-events: none;
    opacity: 0.5;   
}

@media (min-width: 768px){
    .pad {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 10px 0;
    }

    .flx {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        border-top: 1px solid transparent;
        padding: 0;
    }

    h2{
        text-align: center;
        padding-bottom: 20px;
    }

    .section_4 > div:nth-child(2){
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding-bottom: 10px;    
    }

    .section_4 h3 {
        text-align: center;
        padding-bottom: 10px;
    }
}

@media (min-width: 1024px){
    header > nav > #bg_menu {
        display: none;
    }

    header nav ul {
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        top: 30px;
        right: 160px;
        gap: 20px;
    }

    footer div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    footer ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }

    footer h2{
        padding-bottom: 0;
    }

    main {
        width: 990px;
        margin: auto;
    }
}